.menu {
    display: flex;
    padding: 5px;
    column-gap: 15px;
}

.menu_item {
    color: white;
    font-size: 2em;
    text-transform: capitalize;
    opacity: 0.7;
    transition: all 0.5s;
    padding: 5px;
}

.menu_item:hover,
.menu_item:focus {
    opacity: 1;
    font-size: 2.05em
}

@media screen and (max-width:600px) {
    .menu {
        display: none;
    }

    .menu_item_toggle {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin: 5px 0;
        padding: 10px 0;
    }
}