.button {
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.7s opacity;
    color:black;
    border-radius:5px;
    font-size: 1rem;
    text-transform: capitalize;
}

.button:hover,
.button:focus {
    opacity: 1;
}
.submit{
    background-color: green;
    color:white
}
.reset{
    background-color: red;
    color:white
}